@use "../../styles/partials/colors" as *;
@use "../../styles/partials/spacing" as *;
@use "../../styles/partials/spacing-mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/typography-mixins" as *;
@use "../../styles/partials/components" as *;
@use "../../styles/partials/global" as *;

.about-education {
    width: 100%;
    background-color: lightgrey;

    &__center-wrap {
        @include center-wrap;
        position: relative;
        max-width: 80rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include tablet {
            justify-content: space-between;
            align-items: center;
        }
    }

    &__title {
        /*@include page-header;*/
        padding: $mobile-padding-before-headline $mobile-padding-component
    }

    &__container {
        padding: 0 $mobile-padding-component;

        @include tablet {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        @include tablet {
            width: 50%;
        }
    }

    &__school {
        @include subheader;
        padding-bottom: $mobile-padding-component
    }

    &__degree {
        @include body-copy;
        padding-bottom: $mobile-padding-component
    }

    &__certifications {
        @include body-copy;
        padding-bottom: $mobile-padding-component
    }

    &__skills {
        @include labels-and-button;
        padding-bottom: $mobile-padding-component
    }
}