//primary colors
$primary-color-brown: #362928;
$primary-color-beige: #e3ceb3;
$primary-color-black: #323232;
$primary-color-white: #ffffff;

//secondary colors
$secondary-color-slate: #5c667e;
$secondary-color-mercury: #E1E1E1;
$secondary-color-purple: #A020F0;